In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import geoplot
import pickle
import geoplot.crs as gcrs
import statsmodels.api as sm

/home/jasonllu/anaconda3/lib/python3.7/site-packages/geopandas/_compat.py:88: UserWarning: The Shapely GEOS version (3.9.0-CAPI-1.14.1) is incompatible with the GEOS version PyGEOS was compiled with (3.9.0-CAPI-1.16.2). Conversions between both will be slow.
  shapely_geos_version, geos_capi_version_string

In [2]:
node_degree_df = pd.read_pickle('../../data_process/node_degree_df.pickle')
edge_degree_df = pd.read_pickle('../../data_process/edge_degree_df.pickle')

In [3]:
len(node_degree_df["SA2_MAIN16"].values)

103

In [4]:
edge_degree_df.columns

Index(['timestamp', 'destination', 'state', 'origin', 'unique_agents',
       'sum_stay_duration', 'total_stays', 'OD', 'class_ART', 'class_BUS',
       'class_COLL', 'class_FREE', 'class_HWY', 'class_LOCL', 'class_SUBA',
       'class_TRK2', 'class_TRK4', 'class_UND', 'num_jobs_000_persons_origin',
       'sa2_code16_x', 'median_income_per_job_aud_origin',
       'num_jobs_000_persons_destination', 'sa2_code16_y',
       'median_income_per_job_aud_destination', 'od_duration_value',
       'od_distance_value', 'road_counts', 'num_nodes_x', 'num_1degree_x',
       'num_2degree_x', 'num_3degree_x', 'num_4degree_x',
       'num_greater5degree_x', 'num_nodes_y', 'num_1degree_y', 'num_2degree_y',
       'num_3degree_y', 'num_4degree_y', 'num_greater5degree_y'],
      dtype='object')

In [5]:
mount_path = "/mnt/c/Users/jason/Dropbox (MIT)/"
#mount_path = "/Users/shenhaowang/Dropbox (MIT)/project_media_lab_South_Australia/"

In [6]:
poi_df = gpd.read_file(mount_path + "/SA data/dataSA/points/points.shp")

In [7]:
poi_df.head()

,osm_id,timestamp,name,type,geometry
0,29240333,None,None,traffic_signals,POINT (138.60119 -34.91082)
1,29398542,None,None,crossing,POINT (138.59423 -34.76718)
2,29491931,None,Adelaide Railway Station Tram Stop (To Adelaide,tram_stop,POINT (138.59739 -34.92171)
3,29491942,None,None,level_crossing,POINT (138.59949 -34.92299)
4,29492063,None,None,traffic_signals,POINT (138.59351 -34.92330)

In [8]:
sa2_south_au = gpd.read_file("../../data_process/shapefiles/sa2_south_au.shp")

In [9]:
sa2_south_au.shape

(172, 13)

In [10]:
sa2_south_au.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,401011001,41001,Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,South Australia,10.4824,"POLYGON ((138.58096 -34.93024, 138.58094 -34.9..."
1,401011002,41002,North Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,South Australia,5.0909,"POLYGON ((138.58214 -34.90424, 138.58287 -34.9..."
2,401021003,41003,Adelaide Hills,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,South Australia,364.4390,"POLYGON ((138.75610 -34.82107, 138.75567 -34.8..."
3,401021004,41004,Aldgate - Stirling,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,South Australia,117.2141,"POLYGON ((138.69440 -34.98807, 138.69514 -34.9..."
4,401021005,41005,Hahndorf - Echunga,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,South Australia,110.1516,"POLYGON ((138.78877 -35.02474, 138.78889 -35.0..."

In [11]:
print(len(poi_df.geometry))

19701

In [12]:
# #make sure all points only in one area
# not_found_count = 0
# for i, centroid in enumerate(poi_df.geometry):
#     found = False
#     count = 0
#     l = []
#     if i%100 == 0: print(i)
#     for i, row in sa2_south_au.iterrows():
#         if row["geometry"].contains(centroid):
#             count += 1
#             l.append(row["geometry"])
#             found = True
#     if not found:
#         print("not found")
#         not_found_count += 1
#     if len(l) > 1:
#         print(l)
#make sure all points only in one area
# not_found_count = 0
# for i, centroid in enumerate(poi_df.geometry):
#     found = False
#     count = 0
#     l = []
#     if i%100 == 0: print(i)
#     for i, row in sa2_south_au.iterrows():
#         if centroid.within(row["geometry"]):
#             count += 1
#             l.append(row["geometry"])
#             found = True
#     if not found:
#         print("not found")
#         not_found_count += 1
#     if len(l) > 1:
#         print(l)

In [13]:
# print(not_found_count)

In [14]:
# type(sa2_south_au["SA2_MAIN16"].values[0])

In [15]:
# sa_codes_poi = []
# for i, centroid in enumerate(poi_df.geometry):
#     if i%100 == 0: print(i)
#     found = False
#     for i, row in sa2_south_au.iterrows():
#         if row["geometry"].contains(centroid):
#             sa_codes_poi.append(row["SA2_MAIN16"])
#             found = True
#             break
#     if not found:
#         sa_codes_poi.append("0")

In [16]:
#poi_df.to_pickle("../../data_process/poi_df.pickle")
poi_df = pd.read_pickle("../../data_process/poi_df.pickle")
#poi_df["SA2_MAIN16"] = sa_codes_poi

In [17]:
print(len(poi_df))
poi_df = poi_df[poi_df["SA2_MAIN16"]!="0"]
print(len(poi_df))

19701
19679

In [18]:
poi_df.head()

,osm_id,timestamp,name,type,geometry,SA2_MAIN16
0,29240333,None,None,traffic_signals,POINT (138.60119 -34.91082),401011002
1,29398542,None,None,crossing,POINT (138.59423 -34.76718),402041044
2,29491931,None,Adelaide Railway Station Tram Stop (To Adelaide,tram_stop,POINT (138.59739 -34.92171),401011001
3,29491942,None,None,level_crossing,POINT (138.59949 -34.92299),401011001
4,29492063,None,None,traffic_signals,POINT (138.59351 -34.92330),401011001

In [19]:
count = poi_df.groupby(["SA2_MAIN16"],as_index=False).aggregate(["count"])

In [20]:
count.head()

           osm_id timestamp  name  type geometry
            count     count count count    count
SA2_MAIN16
401011001    3288         0   757  3288     3288
401011002     756         0   152   756      756
401021004     279         0   181   279      279
401021010     153         0    56   153      153
401031011     276         0   141   276      276

In [21]:
count.shape

(76, 5)

In [22]:
count.columns

MultiIndex([(   'osm_id', 'count'),
            ('timestamp', 'count'),
            (     'name', 'count'),
            (     'type', 'count'),
            ( 'geometry', 'count')],
           )

In [23]:
split_count = poi_df.groupby(["SA2_MAIN16","type"],as_index=False).aggregate(["count"])

In [24]:
split_count

                           osm_id timestamp  name geometry
                            count     count count    count
SA2_MAIN16 type
401011001  apartment            2         0     2        2
           arts_centre          3         0     3        3
           artwork              7         0     4        7
           atm                 11         0     2       11
           attraction          10         0    10       10
...                           ...       ...   ...      ...
404031109  toilets              1         0     0        1
           traffic_signals      4         0     0        4
           turning_circle      10         0     0       10
           vending_machine      1         0     0        1
           viewpoint            1         0     0        1

[1799 rows x 4 columns]

In [25]:
for i, row in split_count.iterrows():
    print(row)

osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011001, apartment), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, arts_centre), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    4
geometry   count    7
Name: (401011001, artwork), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     2
geometry   count    11
Name: (401011001, atm), dtype: int64
osm_id     count    10
timestamp  count     0
name       count    10
geometry   count    10
Name: (401011001, attraction), dtype: int64
osm_id     count    24
timestamp  count     0
name       count    24
geometry   count    24
Name: (401011001, bank), dtype: int64
osm_id     count    23
timestamp  count     0
name       count    22
geometry   count    23
Name: (401011001, bar), dtype: int64
osm_id     count    32
timestamp  count     0
name       count     0
geometry   count    32
Name: (401011001, bbq), dtype: int64
osm_id     count    1205
timestamp  count       0
name       count       0
geometry   count    1205
Name: (401011001, bench), dtype: int64
osm_id     count    407
timestamp  count      0
name       count      0
geometry   count    407
Name: (401011001, bicycle_parking), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401011001, bicycle_rental), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, bicycle_repair_s), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, buffer_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, bureau_de_change), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, bus_station), dtype: int64
osm_id     count    215
timestamp  count      0
name       count    211
geometry   count    215
Name: (401011001, bus_stop), dtype: int64
osm_id     count    104
timestamp  count      0
name       count     99
geometry   count    104
Name: (401011001, cafe), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, car_rental), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, charging_station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, childcare), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, cinema), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401011001, clinic), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, college), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, community_centre), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, construction), dtype: int64
osm_id     count    380
timestamp  count      0
name       count      0
geometry   count    380
Name: (401011001, crossing), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (401011001, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, device_charging_), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, dojo), dtype: int64
osm_id     count    85
timestamp  count     0
name       count     1
geometry   count    85
Name: (401011001, drinking_water), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, embassy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, events_venue), dtype: int64
osm_id     count    73
timestamp  count     0
name       count    68
geometry   count    73
Name: (401011001, fast_food), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    1
geometry   count    4
Name: (401011001, food_court), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401011001, fountain), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    4
geometry   count    5
Name: (401011001, fuel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, guest_house;hote), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (401011001, hostel), dtype: int64
osm_id     count    14
timestamp  count     0
name       count    14
geometry   count    14
Name: (401011001, hotel), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, ice_cream), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    2
geometry   count    5
Name: (401011001, information), dtype: int64
osm_id     count    92
timestamp  count     0
name       count     0
geometry   count    92
Name: (401011001, level_crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, library), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    5
geometry   count    7
Name: (401011001, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, monitoring_stati), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, monument), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, motel), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401011001, museum), dtype: int64
osm_id     count    10
timestamp  count     0
name       count    10
geometry   count    10
Name: (401011001, nightclub), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     6
geometry   count    19
Name: (401011001, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011001, parking_entrance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, parking_space), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    5
geometry   count    7
Name: (401011001, pharmacy), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (401011001, place_of_worship), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011001, police), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     0
geometry   count    14
Name: (401011001, post_box), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    3
geometry   count    5
Name: (401011001, post_office), dtype: int64
osm_id     count    36
timestamp  count     0
name       count    35
geometry   count    36
Name: (401011001, pub), dtype: int64
osm_id     count    124
timestamp  count      0
name       count    119
geometry   count    124
Name: (401011001, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, restaurant;bar), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011001, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, social_facility), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401011001, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011001, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, steps), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, stripclub), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, studio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, subway_entrance), dtype: int64
osm_id     count    16
timestamp  count     0
name       count     0
geometry   count    16
Name: (401011001, surveillance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, survey_point), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401011001, taxi), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (401011001, telephone), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (401011001, theatre), dtype: int64
osm_id     count    27
timestamp  count     0
name       count     2
geometry   count    27
Name: (401011001, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011001, tower), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011001, townhall), dtype: int64
osm_id     count    155
timestamp  count      0
name       count      0
geometry   count    155
Name: (401011001, traffic_signals), dtype: int64
osm_id     count    29
timestamp  count     0
name       count    29
geometry   count    29
Name: (401011001, tram_stop), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401011001, turning_circle), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (401011001, vending_machine), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (401011001, viewpoint), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401011001, waste_basket), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011002, artwork), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (401011002, attraction), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401011002, bank), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (401011002, bar), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (401011002, bbq), dtype: int64
osm_id     count    346
timestamp  count      0
name       count      0
geometry   count    346
Name: (401011002, bench), dtype: int64
osm_id     count    60
timestamp  count     0
name       count     0
geometry   count    60
Name: (401011002, bicycle_parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011002, bicycle_rental), dtype: int64
osm_id     count    61
timestamp  count     0
name       count    61
geometry   count    61
Name: (401011002, bus_stop), dtype: int64
osm_id     count    13
timestamp  count     0
name       count    12
geometry   count    13
Name: (401011002, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011002, clock), dtype: int64
osm_id     count    39
timestamp  count     0
name       count     0
geometry   count    39
Name: (401011002, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401011002, dentist), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011002, dojo), dtype: int64
osm_id     count    43
timestamp  count     0
name       count     0
geometry   count    43
Name: (401011002, drinking_water), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401011002, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, fountain), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011002, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, hospital), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, hotel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011002, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, kindergarten), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, level_crossing), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    2
geometry   count    5
Name: (401011002, memorial), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401011002, monument), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, parking_entrance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, pharmacy), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401011002, picnic_site), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401011002, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401011002, pub), dtype: int64
osm_id     count    30
timestamp  count     0
name       count    29
geometry   count    30
Name: (401011002, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, school), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, shelter), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, station), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (401011002, street_lamp), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401011002, surveillance), dtype: int64
osm_id     count    17
timestamp  count     0
name       count    17
geometry   count    17
Name: (401011002, survey_point), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401011002, toilets), dtype: int64
osm_id     count    45
timestamp  count     0
name       count     0
geometry   count    45
Name: (401011002, traffic_signals), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (401011002, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401011002, viewpoint), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401011002, waste_basket), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401021004, artwork), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401021004, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401021004, attraction), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401021004, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401021004, bbq), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     1
geometry   count    14
Name: (401021004, bench), dtype: int64
osm_id     count    113
timestamp  count      0
name       count    113
geometry   count    113
Name: (401021004, bus_stop), dtype: int64
osm_id     count    10
timestamp  count     0
name       count    10
geometry   count    10
Name: (401021004, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401021004, clinic), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401021004, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401021004, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401021004, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401021004, drinking_water), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (401021004, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401021004, fuel), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401021004, hotel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401021004, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401021004, kindergarten), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401021004, level_crossing), dtype: int64
osm_id     count    1

Name: (401031011, public_bookcase), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (401031011, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031011, school), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401031011, telephone), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401031011, toilets), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (401031011, traffic_signals), dtype: int64
osm_id     count    46
timestamp  count     0
name       count     0
geometry   count    46
Name: (401031011, turning_circle), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401031011, turning_loop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031011, vending_machine), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031011, veterinary), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031011, viewpoint), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, adit), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, animal_boarding), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, artwork), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401031012, atm), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401031012, attraction), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (401031012, bench), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    2
geometry   count    5
Name: (401031012, bicycle_parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, bicycle_repair_s), dtype: int64
osm_id     count    40
timestamp  count     0
name       count    39
geometry   count    40
Name: (401031012, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (401031012, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, compressed_air), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     0
geometry   count    14
Name: (401031012, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401031012, fast_food), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    7
geometry   count    8
Name: (401031012, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, kindergarten), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, mast), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, mine_shaft), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, monument), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401031012, parking_entrance), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401031012, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401031012, place_of_worship), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (401031012, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, rest_area), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401031012, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401031012, ruins), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031012, telephone), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401031012, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, tower), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (401031012, traffic_signals), dtype: int64
osm_id     count    28
timestamp  count     0
name       count     0
geometry   count    28
Name: (401031012, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031012, viewpoint), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031013, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, bbq), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, bench), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     0
geometry   count    14
Name: (401031013, bicycle_parking), dtype: int64
osm_id     count    103
timestamp  count      0
name       count    103
geometry   count    103
Name: (401031013, bus_stop), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    8
geometry   count    9
Name: (401031013, cafe), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401031013, clinic), dtype: int64
osm_id     count    32
timestamp  count     0
name       count     0
geometry   count    32
Name: (401031013, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031013, dentist), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401031013, doctors), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401031013, drinking_water), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (401031013, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031013, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031013, ice_cream), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401031013, library), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401031013, parking), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (401031013, pharmacy), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (401031013, place_of_worship), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    3
geometry   count    6
Name: (401031013, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, post_office), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    5
geometry   count    6
Name: (401031013, restaurant), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401031013, stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, taxi), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    1
geometry   count    4
Name: (401031013, toilets), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (401031013, traffic_signals), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (401031013, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401031013, waste_basket), dtype: int64
osm_id     count    43
timestamp  count     0
name       count    43
geometry   count    43
Name: (401041014, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041014, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041014, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041014, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041014, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041014, toilets), dtype: int64
osm_id     count    67
timestamp  count     0
name       count     0
geometry   count    67
Name: (401041014, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041015, artwork), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401041015, bank), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041015, bicycle_parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041015, bus_station), dtype: int64
osm_id     count    116
timestamp  count      0
name       count    116
geometry   count    116
Name: (401041015, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401041015, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041015, community_centre), dtype: int64
osm_id     count    95
timestamp  count     0
name       count     0
geometry   count    95
Name: (401041015, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041015, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041015, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401041015, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401041015, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041015, hospital), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (401041015, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041015, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041015, public_bookcase), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401041015, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401041015, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041015, shelter), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041015, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041015, toilets), dtype: int64
osm_id     count    30
timestamp  count     0
name       count     0
geometry   count    30
Name: (401041015, traffic_signals), dtype: int64
osm_id     count    65
timestamp  count     0
name       count     0
geometry   count    65
Name: (401041015, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, bbq), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401041016, bench), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401041016, bicycle_parking), dtype: int64
osm_id     count    95
timestamp  count     0
name       count    95
geometry   count    95
Name: (401041016, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401041016, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, car_wash), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401041016, clinic), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, clock), dtype: int64
osm_id     count    34
timestamp  count     0
name       count     0
geometry   count    34
Name: (401041016, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, doctors), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401041016, drinking_water), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401041016, fast_food), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (401041016, fuel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041016, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, mast), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401041016, picnic_site), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, place_of_worship), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401041016, recycling), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    6
geometry   count    8
Name: (401041016, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401041016, telephone), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401041016, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401041016, tower), dtype: int64
osm_id     count    15
timestamp  count     0
name       count     0
geometry   count    15
Name: (401041016, traffic_signals), dtype: int64
osm_id     count    48
timestamp  count     0
name       count     0
geometry   count    48
Name: (401041016, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401051017, artwork), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401051017, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401051017, bar), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401051017, bbq), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (401051017, bench), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (401051017, bicycle_parking), dtype: int64
osm_id     count    53
timestamp  count     0
name       count    53
geometry   count    53
Name: (401051017, bus_stop), dtype: int64
osm_id     count    12
timestamp  count     0
name       count    12
geometry   count    12
Name: (401051017, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401051017, cinema), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401051017, clinic), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401051017, community_centre), dtype: int64
osm_id     count    45
timestamp  count     0
name       count     0
geometry   count    45
Name: (401051017, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401051017, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401051017, doctors), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401051017, drinking_water), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (401051017, fast_food), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401051017, ice_cream), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1

Name: (401061021, bench), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401061021, bicycle_parking), dtype: int64
osm_id     count    67
timestamp  count     0
name       count    67
geometry   count    67
Name: (401061021, bus_stop), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401061021, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061021, childcare), dtype: int64
osm_id     count    67
timestamp  count     0
name       count     0
geometry   count    67
Name: (401061021, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061021, dentist), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    2
geometry   count    7
Name: (401061021, drinking_water), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401061021, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401061021, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061021, ice_cream), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (401061021, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061021, loading_dock), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061021, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401061021, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401061021, picnic_site), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061021, place_of_worship), dtype: int64
osm_id     count    18
timestamp  count     0
name       count    18
geometry   count    18
Name: (401061021, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401061021, speed_camera), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401061021, station), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401061021, surveillance), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401061021, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061021, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061021, tower), dtype: int64
osm_id     count    30
timestamp  count     0
name       count     0
geometry   count    30
Name: (401061021, traffic_signals), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401061021, turning_circle), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    1
geometry   count    5
Name: (401061021, vending_machine), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     1
geometry   count    14
Name: (401061021, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061021, water_tap), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, bbq), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401061022, bench), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401061022, bicycle_parking), dtype: int64
osm_id     count    43
timestamp  count     0
name       count    42
geometry   count    43
Name: (401061022, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401061022, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, clinic), dtype: int64
osm_id     count    42
timestamp  count     0
name       count     0
geometry   count    42
Name: (401061022, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, drinking_water), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401061022, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, gallery), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, hospital), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, hotel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, motel), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401061022, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401061022, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401061022, pub), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401061022, public_bookcase), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401061022, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401061022, toilets), dtype: int64
osm_id     count    20
timestamp  count     0
name       count     0
geometry   count    20
Name: (401061022, traffic_signals), dtype: int64
osm_id     count    24
timestamp  count     0
name       count     0
geometry   count    24
Name: (401061022, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, artwork), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, attraction), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, bank), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401071023, bbq), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (401071023, bicycle_parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, bicycle_repair_s), dtype: int64
osm_id     count    74
timestamp  count     0
name       count    74
geometry   count    74
Name: (401071023, bus_stop), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    8
geometry   count    8
Name: (401071023, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, community_centre), dtype: int64
osm_id     count    65
timestamp  count     0
name       count     0
geometry   count    65
Name: (401071023, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, dentist), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, drinking_water), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401071023, fast_food), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     0
geometry   count    19
Name: (401071023, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, motel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401071023, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, parking_entrance), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401071023, pharmacy), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401071023, place_of_worship), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (401071023, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401071023, pub), dtype: int64
osm_id     count    12
timestamp  count     0
name       count    11
geometry   count    12
Name: (401071023, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, school), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (401071023, shelter), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (401071023, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071023, telephone), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (401071023, toilets), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     0
geometry   count    14
Name: (401071023, traffic_signals), dtype: int64
osm_id     count    11
timestamp  count     0
name       count    11
geometry   count    11
Name: (401071023, tram_stop), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (401071023, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071023, university), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401071023, waste_basket), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    1
geometry   count    4
Name: (401071024, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, bar), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071024, bicycle_repair_s), dtype: int64
osm_id     count    81
timestamp  count     0
name       count    81
geometry   count    81
Name: (401071024, bus_stop), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    8
geometry   count    8
Name: (401071024, cafe), dtype: int64
osm_id     count    39
timestamp  count     0
name       count     0
geometry   count    39
Name: (401071024, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (401071024, dentist), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (401071024, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (401071024, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071024, fountain), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, hotel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071024, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071024, monument), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    3
geometry   count    5
Name: (401071024, pharmacy), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    2
geometry   count    4
Name: (401071024, place_of_worship), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     1
geometry   count    10
Name: (401071024, post_box), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (401071024, post_office), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (401071024, pub), dtype: int64
osm_id     count    14
timestamp  count     0
name       count    14
geometry   count    14
Name: (401071024, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, scout_hall), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (401071024, telephone), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    1
geometry   count    4
Name: (401071024, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, townhall), dtype: int64
osm_id     count    22
timestamp  count     0
name       count     0
geometry   count    22
Name: (401071024, traffic_signals), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (401071024, tram_stop), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (401071024, turning_circle), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (401071024, veterinary), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (401071024, windpump), dtype: int64
osm_id     count    13
timestamp  count     0
name       count    13
geometry   count    13
Name: (402021030, bus_stop), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (402021030, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402021030, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402021030, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402021030, traffic_signals), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (402021030, turning_circle), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402021031, bus_stop), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402021031, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402021031, traffic_signals), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (402021031, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402021033, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402031036, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, bank), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (402031036, bbq), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (402031036, bench), dtype: int64
osm_id     count    127
timestamp  count      0
name       count    125
geometry   count    127
Name: (402031036, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402031036, chimney), dtype: int64
osm_id     count    92
timestamp  count     0
name       count     0
geometry   count    92
Name: (402031036, crossing), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    2
geometry   count    6
Name: (402031036, drinking_water), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, fast_food), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (402031036, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402031036, mast), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, motel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, pharmacy), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (402031036, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402031036, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402031036, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402031036, station), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (402031036, surveillance), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402031036, survey_point), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    4
geometry   count    6
Name: (402031036, toilets), dtype: int64
osm_id     count    38
timestamp  count     0
name       count     0
geometry   count    38
Name: (402031036, traffic_signals), dtype: int64
osm_id     count    20
timestamp  count     0
name       count     0
geometry   count    20
Name: (402031036, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0

Name: (402041043, childcare), dtype: int64
osm_id     count    17
timestamp  count     0
name       count     0
geometry   count    17
Name: (402041043, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041043, level_crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402041043, pub), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041043, speed_camera), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402041043, traffic_signals), dtype: int64
osm_id     count    80
timestamp  count     0
name       count     0
geometry   count    80
Name: (402041043, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041044, bench), dtype: int64
osm_id     count    64
timestamp  count     0
name       count    64
geometry   count    64
Name: (402041044, bus_stop), dtype: int64
osm_id     count    23
timestamp  count     0
name       count     0
geometry   count    23
Name: (402041044, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041044, fuel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041044, motorway_junctio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041044, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041044, pub), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (402041044, traffic_signals), dtype: int64
osm_id     count    87
timestamp  count     0
name       count     0
geometry   count    87
Name: (402041044, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, artwork), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (402041046, atm), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (402041046, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, bus_station), dtype: int64
osm_id     count    105
timestamp  count      0
name       count    105
geometry   count    105
Name: (402041046, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402041046, cafe), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (402041046, car_wash), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, cinema), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, community_centre), dtype: int64
osm_id     count    134
timestamp  count      0
name       count      0
geometry   count    134
Name: (402041046, crossing), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    8
geometry   count    8
Name: (402041046, fast_food), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (402041046, fuel), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (402041046, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, museum), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, parking), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402041046, pharmacy), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (402041046, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, pub), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (402041046, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, shelter), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402041046, speed_camera), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402041046, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041046, taxi), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, toilets), dtype: int64
osm_id     count    43
timestamp  count     0
name       count     0
geometry   count    43
Name: (402041046, traffic_signals), dtype: int64
osm_id     count    86
timestamp  count     0
name       count     0
geometry   count    86
Name: (402041046, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041046, veterinary), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (402041047, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041047, bicycle_repair_s), dtype: int64
osm_id     count    108
timestamp  count      0
name       count    108
geometry   count    108
Name: (402041047, bus_stop), dtype: int64
osm_id     count    62
timestamp  count     0
name       count     0
geometry   count    62
Name: (402041047, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041047, doctors), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041047, drinking_water), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    2
geometry   count    6
Name: (402041047, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, fuel), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (402041047, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, kindergarten), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, mast), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041047, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041047, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, place_of_worship), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402041047, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, recycling), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402041047, ruins), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402041047, shelter), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041047, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041047, toilets), dtype: int64
osm_id     count    25
timestamp  count     0
name       count     0
geometry   count    25
Name: (402041047, traffic_signals), dtype: int64
osm_id     count    119
timestamp  count      0
name       count      0
geometry   count    119
Name: (402041047, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041047, veterinary), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041048, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041048, bbq), dtype: int64
osm_id     count    18
timestamp  count     0
name       count    18
geometry   count    18
Name: (402041048, bus_stop), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (402041048, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041048, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041048, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041048, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041048, swimming_pool), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402041048, traffic_signals), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (402041048, turning_circle), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402041171, bank), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041171, bbq), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (402041171, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041171, bus_station), dtype: int64
osm_id     count    64
timestamp  count     0
name       count    64
geometry   count    64
Name: (402041171, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (402041171, cafe), dtype: int64
osm_id     count    60
timestamp  count     0
name       count     0
geometry   count    60
Name: (402041171, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041171, elevator), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    6
geometry   count    6
Name: (402041171, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041171, first_aid), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402041171, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041171, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041171, information), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402041171, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041171, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041171, motorway_junctio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041171, pub), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (402041171, restaurant), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402041171, shelter), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041171, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041171, station), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041171, stop), dtype: int64
osm_id     count    27
timestamp  count     0
name       count     0
geometry   count    27
Name: (402041171, traffic_signals), dtype: int64
osm_id     count    16
timestamp  count     0
name       count     0
geometry   count    16
Name: (402041171, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041171, viewpoint), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (402041172, bbq), dtype: int64
osm_id     count    67
timestamp  count     0
name       count    67
geometry   count    67
Name: (402041172, bus_stop), dtype: int64
osm_id     count    56
timestamp  count     0
name       count     0
geometry   count    56
Name: (402041172, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402041172, picnic_site), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402041172, prison), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402041172, speed_camera), dtype: int64
osm_id     count    29
timestamp  count     0
name       count     0
geometry   count    29
Name: (402041172, traffic_signals), dtype: int64
osm_id     count    30
timestamp  count     0
name       count     0
geometry   count    30
Name: (402041172, turning_circle), dtype: int64
osm_id     count    76
timestamp  count     0
name       count    76
geometry   count    76
Name: (402051049, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051049, cafe), dtype: int64
osm_id     count    66
timestamp  count     0
name       count     0
geometry   count    66
Name: (402051049, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (402051049, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051049, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051049, restaurant), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (402051049, school), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (402051049, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402051049, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402051049, toilets), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     0
geometry   count    19
Name: (402051049, traffic_signals), dtype: int64
osm_id     count    79
timestamp  count     0
name       count     0
geometry   count    79
Name: (402051049, turning_circle), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402051050, bench), dtype: int64
osm_id     count    38
timestamp  count     0
name       count    38
geometry   count    38
Name: (402051050, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051050, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051050, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051050, shelter), dtype: int64
osm_id     count    59
timestamp  count     0
name       count     0
geometry   count    59
Name: (402051050, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051051, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (402051051, bench), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402051051, bicycle_parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402051051, building), dtype: int64
osm_id     count    48
timestamp  count     0
name       count    48
geometry   count    48
Name: (402051051, bus_stop), dtype: int64
osm_id     count    15
timestamp  count     0
name       count     0
geometry   count    15
Name: (402051051, crossing), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (402051051, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051051, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051051, kindergarten), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051051, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051051, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (402051051, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (402051051, toilets), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (402051051, traffic_signals), dtype: int64
osm_id     count    59
timestamp  count     0
name       count     0
geometry   count    59
Name: (402051051, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (402051051, yes), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (402051052, atm), dtype: int64
osm_id     count    1
timestamp  count    0

Name: (403011056, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403011056, pharmacy), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403011056, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011056, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011056, pub), dtype: int64
osm_id     count    13
timestamp  count     0
name       count    12
geometry   count    13
Name: (403011056, restaurant), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403011056, shelter), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (403011056, shower), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011056, station), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403011056, stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011056, survey_point), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011056, theatre), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403011056, toilets), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (403011056, traffic_signals), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (403011056, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011056, veterinary), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011056, viewpoint), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403011057, artwork), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, atm), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (403011057, attraction), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403011057, bank), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011057, bar), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, bbq), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (403011057, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, bicycle_repair_s), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, bus_station), dtype: int64
osm_id     count    101
timestamp  count      0
name       count    101
geometry   count    101
Name: (403011057, bus_stop), dtype: int64
osm_id     count    10
timestamp  count     0
name       count    10
geometry   count    10
Name: (403011057, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, car_wash), dtype: int64
osm_id     count    69
timestamp  count     0
name       count     0
geometry   count    69
Name: (403011057, crossing), dtype: int64
osm_id     count    12
timestamp  count     0
name       count     0
geometry   count    12
Name: (403011057, drinking_water), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    8
geometry   count    8
Name: (403011057, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011057, fuel), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (403011057, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, hospital), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011057, hotel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403011057, ice_cream), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (403011057, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, motel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, museum), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    1
geometry   count    4
Name: (403011057, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403011057, parking_entrance), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (403011057, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, place_of_worship), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, police), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403011057, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403011057, post_office), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (403011057, pub), dtype: int64
osm_id     count    16
timestamp  count     0
name       count    16
geometry   count    16
Name: (403011057, restaurant), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (403011057, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403011057, shower), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403011057, stop), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (403011057, survey_point), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (403011057, toilets), dtype: int64
osm_id     count    21
timestamp  count     0
name       count     0
geometry   count    21
Name: (403011057, traffic_signals), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (403011057, tram_stop), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (403011057, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, vending_machine), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403011057, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403011057, yes), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, attraction), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021058, bench), dtype: int64
osm_id     count    71
timestamp  count     0
name       count    71
geometry   count    71
Name: (403021058, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021058, car_wash), dtype: int64
osm_id     count    55
timestamp  count     0
name       count     0
geometry   count    55
Name: (403021058, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, dentist), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021058, drinking_water), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021058, fast_food), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021058, fuel), dtype: int64
osm_id     count    17
timestamp  count     0
name       count     0
geometry   count    17
Name: (403021058, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, pub), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021058, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021058, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021058, station), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021058, survey_point), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021058, telephone), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021058, toilets), dtype: int64
osm_id     count    25
timestamp  count     0
name       count     0
geometry   count    25
Name: (403021058, traffic_signals), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021058, tram_stop), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (403021058, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021060, bench), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (403021060, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021060, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021060, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021060, information), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021060, survey_point), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021060, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021060, traffic_signals), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021060, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, apartment), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, artwork), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, bench), dtype: int64
osm_id     count    91
timestamp  count     0
name       count    91
geometry   count    91
Name: (403021061, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021061, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, car_rental), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, caravan_site), dtype: int64
osm_id     count    45
timestamp  count     0
name       count     0
geometry   count    45
Name: (403021061, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021061, hotel), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403021061, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, motorway_junctio), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021061, museum), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403021061, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021061, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021061, police), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, post_box), dtype: int64
osm_id     count    11
timestamp  count     0
name       count    11
geometry   count    11
Name: (403021061, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021061, station), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021061, survey_point), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021061, telephone), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021061, toilets), dtype: int64
osm_id     count    31
timestamp  count     0
name       count     0
geometry   count    31
Name: (403021061, traffic_signals), dtype: int64
osm_id     count    39
timestamp  count     0
name       count     0
geometry   count    39
Name: (403021061, turning_circle), dtype: int64
osm_id     count    76
timestamp  count     0
name       count    76
geometry   count    76
Name: (403021062, bus_stop), dtype: int64
osm_id     count    36
timestamp  count     0
name       count     0
geometry   count    36
Name: (403021062, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (403021062, drinking_water), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (403021062, give_way), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021062, level_crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403021062, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021062, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021062, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403021062, stop), dtype: int64
osm_id     count    18
timestamp  count     0
name       count     0
geometry   count    18
Name: (403021062, traffic_signals), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021062, tram_stop), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (403021062, turning_circle), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (403021064, bank), dtype: int64
osm_id     count    85
timestamp  count     0
name       count    85
geometry   count    85
Name: (403021064, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021064, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, cinema), dtype: int64
osm_id     count    18
timestamp  count     0
name       count     0
geometry   count    18
Name: (403021064, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, drinking_water), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (403021064, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403021064, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, parking_entrance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021064, post_box), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (403021064, restaurant), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (403021064, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, social_facility), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021064, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403021064, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403021064, survey_point), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403021064, telephone), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (403021064, toilets), dtype: int64
osm_id     count    27
timestamp  count     0
name       count     0
geometry   count    27

Name: (403031068, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031068, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031068, place_of_worship), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (403031068, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031068, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031068, pub), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (403031068, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403031068, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031068, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031068, telephone), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403031068, toilets), dtype: int64
osm_id     count    21
timestamp  count     0
name       count     0
geometry   count    21
Name: (403031068, traffic_signals), dtype: int64
osm_id     count    17
timestamp  count     0
name       count     0
geometry   count    17
Name: (403031068, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031068, veterinary), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, attraction), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031069, bbq), dtype: int64
osm_id     count    97
timestamp  count     0
name       count    97
geometry   count    97
Name: (403031069, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031069, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, cinema), dtype: int64
osm_id     count    56
timestamp  count     0
name       count     0
geometry   count    56
Name: (403031069, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403031069, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (403031069, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (403031069, fuel), dtype: int64
osm_id     count    12
timestamp  count     0
name       count     0
geometry   count    12
Name: (403031069, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, monument), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, museum), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (403031069, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, pharmacy), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (403031069, place_of_worship), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (403031069, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, pub), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031069, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031069, scout_hall), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403031069, shelter), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (403031069, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031069, taxi), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (403031069, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031069, theatre), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    1
geometry   count    6
Name: (403031069, toilets), dtype: int64
osm_id     count    22
timestamp  count     0
name       count     0
geometry   count    22
Name: (403031069, traffic_signals), dtype: int64
osm_id     count    32
timestamp  count     0
name       count     0
geometry   count    32
Name: (403031069, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031069, viewpoint), dtype: int64
osm_id     count    52
timestamp  count     0
name       count    51
geometry   count    52
Name: (403031070, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031070, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031070, car_wash), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     0
geometry   count    19
Name: (403031070, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031070, drinking_water), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031070, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031070, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031070, grave_yard), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031070, parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (403031070, picnic_site), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (403031070, place_of_worship), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031070, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (403031070, public_bookcase), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403031070, toilets), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (403031070, traffic_signals), dtype: int64
osm_id     count    26
timestamp  count     0
name       count     0
geometry   count    26
Name: (403031070, turning_circle), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (403041077, bus_stop), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (403041077, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (403041077, parking), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403041077, traffic_signals), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (403041077, turning_circle), dtype: int64
osm_id     count    24
timestamp  count     0
name       count    24
geometry   count    24
Name: (404011090, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011090, cafe), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011090, clinic), dtype: int64
osm_id     count    21
timestamp  count     0
name       count     0
geometry   count    21
Name: (404011090, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011090, dentist), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    4
geometry   count    5
Name: (404011090, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011090, fire_station), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404011090, give_way), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011090, parking), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011090, parking_entrance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011090, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011090, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011090, restaurant), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (404011090, stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011090, tower), dtype: int64
osm_id     count    18
timestamp  count     0
name       count     0
geometry   count    18
Name: (404011090, traffic_signals), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011090, traffic_signals;), dtype: int64
osm_id     count    20
timestamp  count     0
name       count     0
geometry   count    20
Name: (404011090, turning_circle), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404011091, bbq), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (404011091, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011091, bicycle_repair_s), dtype: int64
osm_id     count    71
timestamp  count     0
name       count    71
geometry   count    71
Name: (404011091, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011091, cafe), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404011091, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011091, drinking_water), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011091, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011091, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011091, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011091, speed_camera), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011091, telephone), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404011091, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011091, tower), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (404011091, traffic_signals), dtype: int64
osm_id     count    48
timestamp  count     0
name       count     0
geometry   count    48
Name: (404011091, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011091, turning_loop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011091, waste_basket), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011092, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, bank), dtype: int64
osm_id     count    22
timestamp  count     0
name       count     0
geometry   count    22
Name: (404011092, bench), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404011092, bicycle_parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, bicycle_repair_s), dtype: int64
osm_id     count    95
timestamp  count     0
name       count    95
geometry   count    95
Name: (404011092, bus_stop), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011092, cafe), dtype: int64
osm_id     count    51
timestamp  count     0
name       count     0
geometry   count    51
Name: (404011092, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, dentist), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011092, doctors), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011092, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    2
geometry   count    4
Name: (404011092, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, give_way), dtype: int64
osm_id     count    12
timestamp  count     0
name       count     0
geometry   count    12
Name: (404011092, parking), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (404011092, parking_entrance), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011092, post_box), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (404011092, restaurant), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011092, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011092, shower), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011092, social_facility), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011092, survey_point), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011092, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, tower), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404011092, traffic_signals), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011092, traffic_signals;), dtype: int64
osm_id     count    44
timestamp  count     0
name       count     0
geometry   count    44
Name: (404011092, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011093, artwork), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011093, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011093, attraction), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (404011093, bbq), dtype: int64
osm_id     count    26
timestamp  count     0
name       count     2
geometry   count    26
Name: (404011093, bench), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (404011093, bicycle_parking), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011093, bicycle_repair_s), dtype: int64
osm_id     count    77
timestamp  count     0
name       count    76
geometry   count    77
Name: (404011093, bus_stop), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    8
geometry   count    8
Name: (404011093, cafe), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011093, car_rental), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011093, childcare), dtype: int64
osm_id     count    44
timestamp  count     0
name       count     0
geometry   count    44
Name: (404011093, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011093, dentist), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (404011093, doctors), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404011093, drinking_water), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (404011093, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011093, food_court), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011093, fuel), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     0
geometry   count    19
Name: (404011093, level_crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011093, motorway_junctio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011093, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011093, place_of_worship), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011093, post_box), dtype: int64

Name: (404011096, clinic), dtype: int64
osm_id     count    43
timestamp  count     0
name       count     0
geometry   count    43
Name: (404011096, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011096, drinking_water), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (404011096, fast_food), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011096, food_court), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, fountain), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, fuel), dtype: int64
osm_id     count    21
timestamp  count     0
name       count     0
geometry   count    21
Name: (404011096, information), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011096, library), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, newsagency), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    1
geometry   count    5
Name: (404011096, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011096, pharmacy), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011096, place_of_worship), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011096, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011096, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011096, pub), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, pumping_station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, recycling), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011096, restaurant), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404011096, stop), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404011096, street_lamp), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011096, surveillance), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    7
geometry   count    8
Name: (404011096, survey_point), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011096, taxi), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404011096, telephone), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (404011096, toilets), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011096, tower), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (404011096, traffic_signals), dtype: int64
osm_id     count    139
timestamp  count      0
name       count      0
geometry   count    139
Name: (404011096, turning_circle), dtype: int64
osm_id     count    16
timestamp  count     0
name       count     0
geometry   count    16
Name: (404011096, turning_loop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, turntable), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011096, viewpoint), dtype: int64
osm_id     count    40
timestamp  count     0
name       count     0
geometry   count    40
Name: (404011096, waste_basket), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011097, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, bbq), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, bench), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404011097, bicycle_parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, bicycle_repair_s), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, brothel), dtype: int64
osm_id     count    96
timestamp  count     0
name       count    96
geometry   count    96
Name: (404011097, bus_stop), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (404011097, cafe), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011097, clinic), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, compressed_air), dtype: int64
osm_id     count    61
timestamp  count     0
name       count     0
geometry   count    61
Name: (404011097, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (404011097, dentist), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    4
geometry   count    8
Name: (404011097, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, drinking_water), dtype: int64
osm_id     count    21
timestamp  count     0
name       count    20
geometry   count    21
Name: (404011097, fast_food), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (404011097, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, give_way), dtype: int64
osm_id     count    15
timestamp  count     0
name       count     0
geometry   count    15
Name: (404011097, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, library), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404011097, music_school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, pub), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (404011097, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404011097, school), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404011097, shelter), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404011097, speed_camera), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (404011097, station), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404011097, stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, taxi), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404011097, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, tower), dtype: int64
osm_id     count    28
timestamp  count     0
name       count     0
geometry   count    28
Name: (404011097, traffic_signals), dtype: int64
osm_id     count    32
timestamp  count     0
name       count     0
geometry   count    32
Name: (404011097, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404011097, vending_machine), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404011097, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021098, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021098, motorway_junctio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021098, windpump), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, 3), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, artwork), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021099, atm), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404021099, bar), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (404021099, bbq), dtype: int64
osm_id     count    32
timestamp  count     0
name       count     0
geometry   count    32
Name: (404021099, bench), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (404021099, bicycle_parking), dtype: int64
osm_id     count    69
timestamp  count     0
name       count    66
geometry   count    69
Name: (404021099, bus_stop), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     9
geometry   count    10
Name: (404021099, cafe), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021099, chimney), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, clinic), dtype: int64
osm_id     count    75
timestamp  count     0
name       count     0
geometry   count    75
Name: (404021099, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404021099, dentist), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404021099, doctors), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404021099, drinking_water), dtype: int64
osm_id     count    12
timestamp  count     0
name       count    12
geometry   count    12
Name: (404021099, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, hospital), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, hotel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404021099, ice_cream), dtype: int64
osm_id     count    22
timestamp  count     0
name       count     0
geometry   count    22
Name: (404021099, level_crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021099, memorial), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, picnic_site), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404021099, post_box), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021099, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404021099, pub), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, rest_area), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (404021099, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, shower), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    4
geometry   count    4
Name: (404021099, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, street_lamp), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    9
geometry   count    9
Name: (404021099, survey_point), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404021099, telephone), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     2
geometry   count    11
Name: (404021099, toilets), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404021099, tower), dtype: int64
osm_id     count    33
timestamp  count     0
name       count     0
geometry   count    33
Name: (404021099, traffic_signals), dtype: int64
osm_id     count    17
timestamp  count     0
name       count     0
geometry   count    17
Name: (404021099, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, turntable), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, viewpoint), dtype: int64
osm_id     count    8
timestamp  count    0
name       count    0
geometry   count    8
Name: (404021099, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021099, water_tower), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, bbq), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, beacon), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    0
geometry   count    7
Name: (404021100, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, buffer_stop), dtype: int64
osm_id     count    69
timestamp  count     0
name       count    69
geometry   count    69
Name: (404021100, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, cafe), dtype: int64
osm_id     count    14
timestamp  count     0
name       count     0
geometry   count    14
Name: (404021100, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, dentist), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404021100, drinking_water), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    4
geometry   count    5
Name: (404021100, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, goods_conveyor), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, hotel), dtype: int64
osm_id     count    17
timestamp  count     0
name       count     0
geometry   count    17
Name: (404021100, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, mast), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404021100, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, picnic_site), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, school), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021100, shelter), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    6
geometry   count    7
Name: (404021100, station), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404021100, stop), dtype: int64
osm_id     count    12
timestamp  count     0
name       count    12
geometry   count    12
Name: (404021100, survey_point), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    1
geometry   count    5
Name: (404021100, toilets), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021100, tower), dtype: int64
osm_id     count    85
timestamp  count     0
name       count     0
geometry   count    85
Name: (404021100, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, viewpoint), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404021100, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021100, wreck), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404021101, arts_centre), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021101, artwork), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404021101, atm), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404021101, attraction), dtype: int64

Name: (404021102, surveillance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021102, telephone), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (404021102, toilets), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    1
geometry   count    3
Name: (404021102, tower), dtype: int64
osm_id     count    43
timestamp  count     0
name       count     0
geometry   count    43
Name: (404021102, traffic_signals), dtype: int64
osm_id     count    20
timestamp  count     0
name       count     0
geometry   count    20
Name: (404021102, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021102, vending_machine), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    1
geometry   count    2
Name: (404021102, veterinary), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404021102, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021103, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021103, parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404021103, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, atm), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031104, bar), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404031104, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, bicycle_parking), dtype: int64
osm_id     count    12
timestamp  count     0
name       count    12
geometry   count    12
Name: (404031104, bus_stop), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (404031104, cafe), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    4
geometry   count    5
Name: (404031104, car_rental), dtype: int64
osm_id     count    26
timestamp  count     0
name       count     0
geometry   count    26
Name: (404031104, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031104, doctors), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031104, drinking_water), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, elevator), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (404031104, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, garbage_can), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, give_way), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    2
geometry   count    4
Name: (404031104, mast), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404031104, parking_entrance), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031104, police), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031104, post_office), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031104, pub), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031104, restaurant), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404031104, toilets), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    0
geometry   count    9
Name: (404031104, traffic_signals), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031104, vending_machine), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031105, bank), dtype: int64
osm_id     count    11
timestamp  count     0
name       count    11
geometry   count    11
Name: (404031105, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031105, cafe), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (404031105, crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031105, doctors), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031105, drinking_water), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031105, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031105, hotel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031105, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031105, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031105, telephone), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404031105, traffic_signals), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404031105, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031105, turning_loop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031106, bank), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031106, bench), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, bicycle_repair_s), dtype: int64
osm_id     count    58
timestamp  count     0
name       count    58
geometry   count    58
Name: (404031106, bus_stop), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031106, cafe), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031106, car_rental), dtype: int64
osm_id     count    13
timestamp  count     0
name       count     0
geometry   count    13
Name: (404031106, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404031106, drinking_water), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    3
geometry   count    5
Name: (404031106, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031106, motel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031106, place_of_worship), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031106, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, shelter), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031106, survey_point), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031106, toilets), dtype: int64
osm_id     count    19
timestamp  count     0
name       count     0
geometry   count    19
Name: (404031106, traffic_signals), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (404031106, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031106, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, Historical_House), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, bar), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, bicycle_repair_s), dtype: int64
osm_id     count    150
timestamp  count      0
name       count    150
geometry   count    150
Name: (404031107, bus_stop), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    5
geometry   count    5
Name: (404031107, cafe), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031107, car_rental), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, car_wash), dtype: int64
osm_id     count    73
timestamp  count     0
name       count     1
geometry   count    73
Name: (404031107, crossing), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404031107, drinking_water), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (404031107, fast_food), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, flagpole), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031107, fuel), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031107, halt), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, hospital), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404031107, level_crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031107, motorway_junctio), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, parking), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031107, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, police), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404031107, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031107, post_office), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031107, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031107, school), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031107, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, telephone), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404031107, toilets), dtype: int64
osm_id     count    36
timestamp  count     0
name       count     0
geometry   count    36
Name: (404031107, traffic_signals), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    7
geometry   count    7
Name: (404031107, tram_stop), dtype: int64
osm_id     count    25
timestamp  count     0
name       count     0
geometry   count    25
Name: (404031107, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031107, waste_basket), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, apartment), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, artwork), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, atm), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, bank), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, bar), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, bbq), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    0
geometry   count    4
Name: (404031108, bench), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    0
geometry   count    5
Name: (404031108, bicycle_parking), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, buffer_stop), dtype: int64
osm_id     count    97
timestamp  count     0
name       count    97
geometry   count    97
Name: (404031108, bus_stop), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    8
geometry   count    9
Name: (404031108, cafe), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031108, car_rental), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031108, childcare), dtype: int64
osm_id     count    91
timestamp  count     0
name       count     0
geometry   count    91
Name: (404031108, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031108, doctors), dtype: int64
osm_id     count    7
timestamp  count    0
name       count    1
geometry   count    7
Name: (404031108, drinking_water), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031108, fast_food), dtype: int64
osm_id     count    4
timestamp  count    0
name       count    3
geometry   count    4
Name: (404031108, fuel), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, give_way), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031108, level_crossing), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, memorial), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031108, pharmacy), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, picnic_site), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    2
geometry   count    3
Name: (404031108, place_of_worship), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, post_box), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2
geometry   count    2
Name: (404031108, post_office), dtype: int64
osm_id     count    5
timestamp  count    0
name       count    4
geometry   count    5
Name: (404031108, pub), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031108, recycling), dtype: int64
osm_id     count    9
timestamp  count    0
name       count    7
geometry   count    9
Name: (404031108, restaurant), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, shelter), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031108, speed_camera), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, station), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, street_lamp), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, taxi), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031108, telephone), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, toilets), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031108, townhall), dtype: int64
osm_id     count    45
timestamp  count     0
name       count     0
geometry   count    45
Name: (404031108, traffic_signals), dtype: int64
osm_id     count    11
timestamp  count     0
name       count     0
geometry   count    11
Name: (404031108, turning_circle), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031108, vending_machine), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    0
geometry   count    3
Name: (404031108, waste_basket), dtype: int64
osm_id     count    10
timestamp  count     0
name       count     0
geometry   count    10
Name: (404031109, bench), dtype: int64
osm_id     count    47
timestamp  count     0
name       count    47
geometry   count    47
Name: (404031109, bus_stop), dtype: int64
osm_id     count    3
timestamp  count    0
name       count    3
geometry   count    3
Name: (404031109, cafe), dtype: int64
osm_id     count    53
timestamp  count     0
name       count     0
geometry   count    53
Name: (404031109, crossing), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    0
geometry   count    2
Name: (404031109, drinking_water), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    1
geometry   count    1
Name: (404031109, restaurant), dtype: int64
osm_id     count    6
timestamp  count    0
name       count    0
geometry   count    6
Name: (404031109, shelter), dtype: int64
osm_id     count    1
timestamp  count    0
name       count    0
geometry   count    1
Name: (404031109, shower), dtype: int64
osm_id     count    2
timestamp  count    0
name       count    2

In [26]:
poi_df = pd.DataFrame()

In [27]:
poi_df["SA2_MAIN16"] = count.index.values
poi_df["poi_count"] = count[( 'geometry', 'count')].values

In [28]:
poi_df.head()

  SA2_MAIN16  poi_count
0  401011001       3288
1  401011002        756
2  401021004        279
3  401021010        153
4  401031011        276

In [29]:
split_count.shape

(1799, 4)

In [30]:
import math

In [31]:
entropy = {}
for i, row in split_count.iterrows():
    sa_id, _type = i
    total_count = poi_df.loc[poi_df["SA2_MAIN16"]==sa_id]["poi_count"]
    val = row[( 'geometry', 'count')]/total_count
    
    if sa_id not in entropy:
        entropy[sa_id] = (-val * np.log(val))
    else:
        entropy[sa_id] += (-val * np.log(val))

In [32]:
print(len(entropy))
print(len(poi_df))

76
76

In [33]:
entropy_list = []
for sa_id in poi_df.SA2_MAIN16:
    entropy_list.append(float(entropy[sa_id]))

In [34]:
poi_df["poi_count_entropy"] = entropy_list

In [35]:
poi_df.head()

  SA2_MAIN16  poi_count  poi_count_entropy
0  401011001       3288           2.487969
1  401011002        756           2.246419
2  401021004        279           2.616117
3  401021010        153           2.722838
4  401031011        276           2.472982

In [36]:
node_degree_entropy_df = node_degree_df.merge(poi_df,how="left",on="SA2_MAIN16")

In [37]:
node_degree_entropy_df.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,...,sum_stay_duration_destination_entropy,total_stays_destination_entropy,num_nodes,num_1degree,num_2degree,num_3degree,num_4degree,num_greater5degree,poi_count,poi_count_entropy
0,401011001,41001,Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,3.949646,4.237396,1642,291,199,865,276,11,3288.0,2.487969
1,401011002,41002,North Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,3.152188,3.975034,517,149,54,239,69,6,756.0,2.246419
2,401021003,41003,Adelaide Hills,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,0.948900,2.042530,4034,1174,731,1982,141,6,NaN,NaN
3,401021004,41004,Aldgate - Stirling,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,1.099284,2.075796,2455,710,502,1126,110,7,279.0,2.616117
4,401021005,41005,Hahndorf - Echunga,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,1.654530,2.549629,989,286,245,421,36,1,NaN,NaN

In [38]:
node_degree_df.shape

(103, 48)

In [39]:
node_degree_entropy_df.shape

(103, 50)

In [40]:
node_degree_entropy_df.to_pickle('../../data_process/node_degree_entropy_df.pickle')

# Edge Degree DF

In [41]:
edge_degree_df.head()

,timestamp,destination,state,origin,unique_agents,sum_stay_duration,total_stays,OD,class_ART,class_BUS,...,num_2degree_x,num_3degree_x,num_4degree_x,num_greater5degree_x,num_nodes_y,num_1degree_y,num_2degree_y,num_3degree_y,num_4degree_y,num_greater5degree_y
0,2018-02-01T00:00:00.000+11:00,401011001,4,401011001,19863,268779414,681217,401011001401011001,208.0,13.0,...,199.0,865.0,276.0,11.0,1642.0,291.0,199.0,865.0,276.0,11.0
1,2018-02-01T00:00:00.000+11:00,401011002,4,401011001,6911,4857456,29322,401011001401011002,267.0,16.0,...,199.0,865.0,276.0,11.0,517.0,149.0,54.0,239.0,69.0,6.0
2,2018-02-01T00:00:00.000+11:00,401021003,4,401011001,404,253764,1334,401011001401021003,838.0,82.0,...,199.0,865.0,276.0,11.0,4034.0,1174.0,731.0,1982.0,141.0,6.0
3,2018-02-01T00:00:00.000+11:00,401021004,4,401011001,1184,903377,5487,401011001401021004,430.0,13.0,...,199.0,865.0,276.0,11.0,2455.0,710.0,502.0,1126.0,110.0,7.0
4,2018-02-01T00:00:00.000+11:00,401021005,4,401011001,700,189721,1278,401011001401021005,517.0,13.0,...,199.0,865.0,276.0,11.0,989.0,286.0,245.0,421.0,36.0,1.0

In [42]:
entropy_x = []
notin = 0
for sa_id in edge_degree_df["sa2_code16_x"].values:
    if sa_id in entropy:
        entropy_x.append(float(entropy[sa_id]))
    else:
        notin += 1
print(notin)
notin=0
entropy_y = []
for sa_id in edge_degree_df["sa2_code16_y"]:
    if sa_id in entropy:
        entropy_y.append(float(entropy[sa_id]))
    else:
        notin += 1
print(notin)

3065
3122

In [43]:
notin

3122

In [44]:
edge_degree_df.shape

(10240, 39)

In [45]:
poi_df.head()

  SA2_MAIN16  poi_count  poi_count_entropy
0  401011001       3288           2.487969
1  401011002        756           2.246419
2  401021004        279           2.616117
3  401021010        153           2.722838
4  401031011        276           2.472982

In [46]:
sa_ids_poi = set(poi_df["SA2_MAIN16"].values)

In [47]:
edge_degree_df = edge_degree_df[edge_degree_df["sa2_code16_y"].isin(sa_ids_poi)]

In [48]:
print(edge_degree_df.shape)

(7118, 39)

In [49]:
edge_degree_df = edge_degree_df[edge_degree_df["sa2_code16_x"].isin(sa_ids_poi)]

In [50]:
print(edge_degree_df.shape)

(4983, 39)

In [51]:
count_dic = {key:val for key,val in zip(poi_df["SA2_MAIN16"].values, poi_df["poi_count"].values)}

In [52]:
entropy_x = []
poi_count_x = []
notin = 0
for sa_id in edge_degree_df["sa2_code16_x"].values:
    if sa_id in entropy:
        entropy_x.append(float(entropy[sa_id]))
        poi_count_x.append(float(count_dic[sa_id]))
    else:
        notin += 1
print(notin)
notin=0
entropy_y = []
poi_count_y = []
for sa_id in edge_degree_df["sa2_code16_y"]:
    if sa_id in entropy:
        entropy_y.append(float(entropy[sa_id]))
        poi_count_y.append(float(count_dic[sa_id]))
    else:
        notin += 1
print(notin)

0
0

In [53]:
print(len(entropy_x))
print(len(entropy_y))

4983
4983

In [54]:
edge_degree_df["poi_entropy_x"] = entropy_x
edge_degree_df["poi_entropy_y"] = entropy_y

In [55]:
edge_degree_df["poi_count_x"] = poi_count_x
edge_degree_df["poi_count_y"] = poi_count_y

In [56]:
edge_degree_df.shape

(4983, 43)

In [57]:
edge_degree_df.head()

,timestamp,destination,state,origin,unique_agents,sum_stay_duration,total_stays,OD,class_ART,class_BUS,...,num_nodes_y,num_1degree_y,num_2degree_y,num_3degree_y,num_4degree_y,num_greater5degree_y,poi_entropy_x,poi_entropy_y,poi_count_x,poi_count_y
0,2018-02-01T00:00:00.000+11:00,401011001,4,401011001,19863,268779414,681217,401011001401011001,208.0,13.0,...,1642.0,291.0,199.0,865.0,276.0,11.0,2.487969,2.487969,3288.0,3288.0
1,2018-02-01T00:00:00.000+11:00,401011002,4,401011001,6911,4857456,29322,401011001401011002,267.0,16.0,...,517.0,149.0,54.0,239.0,69.0,6.0,2.487969,2.246419,3288.0,756.0
3,2018-02-01T00:00:00.000+11:00,401021004,4,401011001,1184,903377,5487,401011001401021004,430.0,13.0,...,2455.0,710.0,502.0,1126.0,110.0,7.0,2.487969,2.616117,3288.0,279.0
9,2018-02-01T00:00:00.000+11:00,401021010,4,401011001,685,347208,1897,401011001401021010,263.0,13.0,...,1854.0,535.0,360.0,911.0,46.0,2.0,2.487969,2.722838,3288.0,153.0
10,2018-02-01T00:00:00.000+11:00,401031011,4,401011001,2225,1664328,7709,401011001401031011,255.0,13.0,...,783.0,178.0,73.0,468.0,64.0,0.0,2.487969,2.472982,3288.0,276.0

In [58]:
edge_degree_df.to_pickle('../../data_process/edge_degree_entropy_df.pickle')