# Gravity Model

This script build a basic gravity model for analysis. 

Exemplary paper: Economic Outcome Predicted by Diversity

Q: Need economic indicators (e.g. GDP) and jobs. 

Q: Unresolved - Traffic assignment problem.

In [1]:
pwd

'/home/jtl/Documents/shenhao/media_lab_south_Australia/code'

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
import geoplot

In [3]:
jobs_all = pd.read_csv("../data/SA2_Jobs_All_Jobs_and_Income.csv")
jobs_industries = pd.read_csv("../data/SA2_Jobs_In_Australia_Employee_Jobs_and_Income.csv")

In [4]:
jobs_all

,sa2_name16,num_jobs_000_persons,median_income_per_job_aud_persons,median_income_per_job_aud_females,median_income_per_job_aud_males,sa2_code16,num_jobs_000_males,num_jobs_000_females
0,Seaford (SA),16.014,27786.0,23253.0,34636.0,403041087,8.125,7.890
1,Nairne,3.864,27429.0,20528.0,37708.0,401021009,1.912,1.947
2,Uraidla - Summertown,4.162,27341.0,21593.0,36788.0,401021010,2.060,2.098
3,West Beach,3.909,28657.0,23029.0,36587.0,404031109,1.894,2.015
4,Barossa - Angaston,4.709,21687.0,17078.0,28462.0,405011110,2.444,2.270
...,...,...,...,...,...,...,...,...
167,Murray Bridge Region,2.605,20087.0,17232.0,22852.0,407031166,1.390,1.211
168,Renmark,4.607,11122.0,9946.0,12333.0,407031167,2.468,2.143
169,Renmark Region,3.988,12606.0,12362.0,13031.0,407031168,2.291,1.697
170,The Coorong,3.773,16368.0,12917.0,20737.0,407031169,1.997,1.776
171,Waikerie,4.816,15572.0,12853.0,17888.0,407031170,2.658,2.157

In [5]:
jobs_industries

,cons_med_emply_incjob_aud,edu_training_med_emply_incjob_aud,rent_hiring_rlst_med_emply_incjob_aud,arts_rec_med_emply_incjob_aud,finance_insur_med_emply_incjob_aud,tot_num_jobs_000,tot_med_emply_incjob_aud,utility_med_emply_incjob_aud,finance_insur_num_jobs_000,admt_supp_num_jobs_000,...,oth_med_emply_incjob_aud,mining_med_emply_incjob_aud,cons_num_jobs_000,hlth_care_soc_asst_med_emply_incjob_aud,agri_estry_fishing_med_emply_incjob_aud,sa2_code16,manu_num_jobs_000,oth_num_jobs_000,edu_training_num_jobs_000,rent_hiring_rlst_num_jobs_000
0,36031.0,37021.0,25335.0,5731.0,34217.0,14.435,30351.0,78444.0,0.545,1.253,...,21784.0,98093.0,1.150,39923.0,8493.0,403041087,1.043,0.480,1.226,0.206
1,39582.0,37640.0,30204.0,5950.0,24872.0,2.948,26026.0,74200.0,0.112,0.205,...,10282.0,103397.0,0.091,31116.0,26725.0,405041124,0.186,0.100,0.287,0.042
2,19984.0,28568.0,NaN,NaN,NaN,1.296,9901.0,NaN,NaN,0.038,...,6399.0,NaN,0.023,36308.0,3824.0,406011132,0.030,0.045,0.131,NaN
3,20247.0,30722.0,NaN,NaN,16209.0,2.132,15170.0,NaN,0.026,0.089,...,22455.0,82368.0,0.073,28802.0,5402.0,406011134,0.072,0.064,0.207,NaN
4,33514.0,37656.0,24710.0,18405.0,32605.0,3.437,31007.0,80916.0,0.127,0.297,...,18556.0,90823.0,0.206,36457.0,9438.0,401021009,0.249,0.114,0.303,0.077
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167,29348.0,37550.0,15397.0,8502.0,23376.0,2.038,25184.0,NaN,0.050,0.152,...,23287.0,84625.0,0.098,36300.0,6270.0,407031166,0.164,0.069,0.116,0.037
168,29129.0,33978.0,9309.0,3611.0,19731.0,4.158,11611.0,59150.0,0.097,0.574,...,18000.0,NaN,0.119,37310.0,4507.0,407031167,0.258,0.058,0.192,0.036
169,33190.0,40698.0,2725.0,NaN,25005.0,3.338,13999.0,56070.0,0.071,0.433,...,22973.0,NaN,0.132,37447.0,5353.0,407031168,0.220,0.064,0.184,0.036
170,19815.0,30859.0,16703.0,NaN,17551.0,2.911,17734.0,NaN,0.066,0.133,...,11870.0,79435.0,0.099,26145.0,11803.0,407031169,0.115,0.075,0.189,0.080
171,27669.0,29952.0,8155.0,NaN,14179.0,4.045,16998.0,68602.0,0.096,0.326,...,14001.0,NaN,0.174,29238.0,5400.0,407031170,0.362,0.088,0.245,0.109

In [6]:
new_idx = []

for col in jobs_industries.columns:
    if col[0]==' ':
        new_idx.append(col[1:])
    else:
        new_idx.append(col)

jobs_industries.columns = new_idx
jobs_industries.columns

Index(['cons_med_emply_incjob_aud', 'edu_training_med_emply_incjob_aud',
       'rent_hiring_rlst_med_emply_incjob_aud',
       'arts_rec_med_emply_incjob_aud', 'finance_insur_med_emply_incjob_aud',
       'tot_num_jobs_000', 'tot_med_emply_incjob_aud',
       'utility_med_emply_incjob_aud', 'finance_insur_num_jobs_000',
       'admt_supp_num_jobs_000', 'arts_rec_num_jobs_000',
       'trns_pstl_whse_med_emply_incjob_aud', 'manu_med_emply_incjob_aud',
       'sa2_name16', 'rtl_trade_num_jobs_000',
       'agri_estry_fishing_num_jobs_000', 'hlth_care_soc_asst_num_jobs_000',
       'pro_sci_tech_med_emply_incjob_aud', 'accom_food_med_emply_incjob_aud',
       'rtl_trade_med_emply_incjob_aud', 'pub_admt_safety_num_jobs_000',
       'utility_num_jobs_000', 'trns_pstl_whse_num_jobs_000',
       'whsl_trade_num_jobs_000', 'pro_sci_tech_num_jobs_000',
       'mining_num_jobs_000', 'whsl_trade_med_emply_incjob_aud',
       'accom_food_num_jobs_000', 'admt_supp_med_emply_incjob_aud',
       'pub_admt_safety_med_emply_incjob_aud', 'info_med_coms_num_jobs_000',
       'info_med_coms_med_emply_incjob_aud', 'oth_med_emply_incjob_aud',
       'mining_med_emply_incjob_aud', 'cons_num_jobs_000',
       'hlth_care_soc_asst_med_emply_incjob_aud',
       'agri_estry_fishing_med_emply_incjob_aud', 'sa2_code16',
       'manu_num_jobs_000', 'oth_num_jobs_000', 'edu_training_num_jobs_000',
       'rent_hiring_rlst_num_jobs_000'],
      dtype='object')

In [7]:
new_idx = []

for col in jobs_all.columns:
    if col[0]==' ':
        new_idx.append(col[1:])
    else:
        new_idx.append(col)

jobs_all.columns = new_idx
jobs_all.columns

Index(['sa2_name16', 'num_jobs_000_persons',
       'median_income_per_job_aud_persons',
       'median_income_per_job_aud_females', 'median_income_per_job_aud_males',
       'sa2_code16', 'num_jobs_000_males', 'num_jobs_000_females'],
      dtype='object')

In [8]:
jobs_all['sa2_code16'] = jobs_all['sa2_code16'].astype('str')

In [9]:
# notes:
# 'sa2_code16'

In [10]:
# read shapefile. 
sa2_shape = gpd.read_file("../data/sa2/SA2_2016_AUST.shp")
# Keep only the Adelaide area
adelaide_sa4_set=['401','402','403','404']
sa2_adelaide = sa2_shape.loc[sa2_shape.SA4_CODE16.isin(adelaide_sa4_set)]
print(sa2_adelaide.shape)
print(sa2_adelaide.head(10))

(110, 13)
     SA2_MAIN16 SA2_5DIG16            SA2_NAME16 SA3_CODE16      SA3_NAME16  \
1572  401011001      41001              Adelaide      40101   Adelaide City
1573  401011002      41002        North Adelaide      40101   Adelaide City
1574  401021003      41003        Adelaide Hills      40102  Adelaide Hills
1575  401021004      41004    Aldgate - Stirling      40102  Adelaide Hills
1576  401021005      41005    Hahndorf - Echunga      40102  Adelaide Hills
1577  401021006      41006   Lobethal - Woodside      40102  Adelaide Hills
1578  401021007      41007          Mount Barker      40102  Adelaide Hills
1579  401021008      41008   Mount Barker Region      40102  Adelaide Hills
1580  401021009      41009                Nairne      40102  Adelaide Hills
1581  401021010      41010  Uraidla - Summertown      40102  Adelaide Hills

     SA4_CODE16                    SA4_NAME16 GCC_CODE16        GCC_NAME16  \
1572        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1573        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1574        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1575        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1576        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1577        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1578        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1579        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1580        401  Adelaide - Central and Hills      4GADE  Greater Adelaide
1581        401  Adelaide - Central and Hills      4GADE  Greater Adelaide

     STE_CODE16       STE_NAME16  AREASQKM16  \
1572          4  South Australia     10.4824
1573          4  South Australia      5.0909
1574          4  South Australia    364.4390
1575          4  South Australia    117.2141
1576          4  South Australia    110.1516
1577          4  South Australia    202.4981
1578          4  South Australia     54.1038
1579          4  South Australia    395.6658
1580          4  South Australia     24.8562
1581          4  South Australia    119.1882

                                               geometry
1572  POLYGON ((138.58096 -34.93024, 138.58094 -34.9...
1573  POLYGON ((138.58214 -34.90424, 138.58287 -34.9...
1574  POLYGON ((138.75610 -34.82107, 138.75567 -34.8...
1575  POLYGON ((138.69440 -34.98807, 138.69514 -34.9...
1576  POLYGON ((138.78877 -35.02474, 138.78889 -35.0...
1577  POLYGON ((138.79053 -34.93933, 138.79072 -34.9...
1578  POLYGON ((138.83018 -35.05084, 138.83076 -35.0...
1579  POLYGON ((138.94248 -35.02049, 138.94037 -35.0...
1580  POLYGON ((138.88825 -35.03882, 138.88827 -35.0...
1581  POLYGON ((138.68476 -34.90871, 138.68468 -34.9...

In [26]:
# merge
sa2 = pd.merge(sa2_adelaide, jobs_all, left_on='SA2_MAIN16', right_on='sa2_code16', how='inner')

In [27]:
sa2 # only the Adelaide area

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,...,AREASQKM16,geometry,sa2_name16,num_jobs_000_persons,median_income_per_job_aud_persons,median_income_per_job_aud_females,median_income_per_job_aud_males,sa2_code16,num_jobs_000_males,num_jobs_000_females
0,401011001,41001,Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,10.4824,"POLYGON ((138.58096 -34.93024, 138.58094 -34.9...",Adelaide,14.057,17265.0,14712.0,20298.0,401011001,7.486,6.571
1,401011002,41002,North Adelaide,40101,Adelaide City,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,5.0909,"POLYGON ((138.58214 -34.90424, 138.58287 -34.9...",North Adelaide,5.459,24773.0,21642.0,28829.0,401011002,2.837,2.616
2,401021003,41003,Adelaide Hills,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,364.4390,"POLYGON ((138.75610 -34.82107, 138.75567 -34.8...",Adelaide Hills,5.373,24830.0,19754.0,31662.0,401021003,2.793,2.579
3,401021004,41004,Aldgate - Stirling,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,117.2141,"POLYGON ((138.69440 -34.98807, 138.69514 -34.9...",Aldgate - Stirling,14.156,28246.0,21218.0,38202.0,401021004,7.001,7.152
4,401021005,41005,Hahndorf - Echunga,40102,Adelaide Hills,401,Adelaide - Central and Hills,4GADE,Greater Adelaide,4,...,110.1516,"POLYGON ((138.78877 -35.02474, 138.78889 -35.0...",Hahndorf - Echunga,3.395,25031.0,19941.0,31570.0,401021005,1.709,1.685
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105,404031105,41105,Fulham,40403,West Torrens,404,Adelaide - West,4GADE,Greater Adelaide,4,...,1.3212,"POLYGON ((138.50651 -34.92600, 138.50641 -34.9...",Fulham,1.867,26115.0,21385.0,32606.0,404031105,0.957,0.906
106,404031106,41106,Lockleys,40403,West Torrens,404,Adelaide - West,4GADE,Greater Adelaide,4,...,5.7020,"POLYGON ((138.52099 -34.92046, 138.52115 -34.9...",Lockleys,9.750,25913.0,22928.0,29588.0,404031106,4.972,4.773
107,404031107,41107,Plympton,40403,West Torrens,404,Adelaide - West,4GADE,Greater Adelaide,4,...,10.6969,"POLYGON ((138.54362 -34.95163, 138.54359 -34.9...",Plympton,18.962,23052.0,20879.0,25319.0,404031107,9.716,9.248
108,404031108,41108,Richmond (SA),40403,West Torrens,404,Adelaide - West,4GADE,Greater Adelaide,4,...,8.9253,"POLYGON ((138.55354 -34.91487, 138.55349 -34.9...",Richmond (SA),13.439,23003.0,21134.0,25794.0,404031108,6.769,6.671
109,404031109,41109,West Beach,40403,West Torrens,404,Adelaide - West,4GADE,Greater Adelaide,4,...,4.4582,"POLYGON ((138.49817 -34.93510, 138.49855 -34.9...",West Beach,3.909,28657.0,23029.0,36587.0,404031109,1.894,2.015

# Model

Gravity model:
$$ T_{ij} = \frac{T_i^{\alpha} T_j^{\beta}}{C_{ij}^{\gamma}}$$

Log-linear form:
$$ \log T_{ij} = \alpha \log T_i + \beta \log T_j - \gamma \log C_{ij} $$

Let us use basic economic info here.
1. $T_{ij}$ is the mobility flow from i to j.
2. $T_i$ and $T_j$ represent attractions, e.g. number of total jobs.
3. $C_{ij}$ represents frictions, e.g. travel time or other road attributes. Ideally, $C_{ij}$ can represent the actionable variables, such as road capacity/types. 

OLS can be used to estimate the three parameters $\alpha$, $\beta$, and $\gamma$.

More generally, we can write the gravity model as:
$$ \log T_{ij} = f_1(\log T_i, \log T_j; w_1) + f_2(\log C_{ij}; w_2) $$